In [15]:
import pandas as pd
import numpy as np
pd.set_option('display.unicode.ambiguous_as_wide',True)
pd.set_option('display.unicode.east_asian_width',True)
#pd.set_option('display.uni')
df=pd.read_excel(r'F:\超市营业额2.xlsx',sheet_name='Sheet1')
#显示2019.03.04日的全部营业数据
print('1.显示2019.03.04日的全部营业数据:\n')
print(df[df['日期']=='2019-03-04'],sep='\n',end='\n\n')
#请计算2019.03.18日的全部营业额是多少，并查看3.18日营业额相关的统计信息

1.显示2019.03.04日的全部营业数据:

    工号  姓名        日期           时段  交易额      柜台
24  1001  张三  2019-03-04   9：00-14：00  1216.0    化妆品
25  1002  李四  2019-03-04  14：00-21：00  1629.0    化妆品
26  1003  王五  2019-03-04   9：00-14：00  1590.0      食品
27  1004  赵六  2019-03-04  14：00-21：00  1673.0      食品
28  1005  周七  2019-03-04   9：00-14：00  1346.0    日用品
29  1006  钱八  2019-03-04  14：00-21：00  1402.0    日用品
30  1002  李四  2019-03-04   9：00-14：00  1105.0  蔬菜水果
31  1005  周七  2019-03-04  14：00-21：00  1199.0  蔬菜水果

In [14]:
print("2.请计算2019.03.18日的全部营业额是多少，并查看3.18日营业额相关的统计信息::\n")
print("sum::",df[df['日期']=='2019-03-18']['交易额'].sum())
print('\n')
print(df[df['日期']=='2019-03-18']['交易额'],sep='\n',end='\n\n')

2.请计算2019.03.18日的全部营业额是多少，并查看3.18日营业额相关的统计信息::

sum:: 9688.0


137     824.0
138    1049.0
139    1210.0
140    1567.0
141     952.0
142    1379.0
143    1329.0
144    1378.0
Name: 交易额, dtype: float64

In [31]:
print("3.请将“日用品”按照营业额的大小从小到大进行排序显示\n")

nn=df[df['柜台']=='日用品']
nn.sort_values(by=['交易额'],ascending=[True])

3.请将“日用品”按照营业额的大小从小到大进行排序显示

     工号  姓名        日期           时段   交易额    柜台
76   1005  周七  2019-03-10   9：00-14：00     53.0  日用品
97   1002  李四  2019-03-13  14：00-21：00     98.0  日用品
106  1002  李四  2019-03-14  14：00-21：00    822.0  日用品
129  1002  李四  2019-03-17   9：00-14：00    828.0  日用品
150  1004  赵六  2019-03-19  14：00-21：00    882.0  日用品
..    ...   ...         ...            ...      ...     ...
246  1004  赵六  2019-03-31  14：00-21：00   1722.0  日用品
205  1001  张三  2019-03-26   9：00-14：00   1746.0  日用品
121  1002  李四  2019-03-16   9：00-14：00   1788.0  日用品
113  1002  李四  2019-03-15   9：00-14：00   1798.0  日用品
105  1001  张三  2019-03-14   9：00-14：00  12100.0  日用品

[62 rows x 6 columns]

In [37]:
#请通过分组和聚合，获得每个柜台中的全部营业额；（大于10000的数据为异常值，请去除，缺失值算0）
print("4.请通过分组和聚合，获得每个柜台中的全部营业额；（大于10000的数据为异常值，请去除，缺失值算0）:\n")
print("异常值：\n")
print(df[df['交易额']>10000])
list_pop=df[df['交易额']>10000].index
new_df=df.drop(index=list_pop)
new_df.shape

print("缺失值：\n")
Series_null=df.isnull().any(axis=1)
print(Series_null[Series_null==True])

Series_null=df.isnull().any(axis=0)
Series_null[Series_null==True]
print(df.iloc[[110,124,168],:])

new_df=df.fillna(round(df['交易额'].mean()*0),inplace=False)
print(new_df.iloc[[110,124,168],:])

group=new_df.groupby("柜台")
group
print((group.sum().head()))
list(group)

4.请通过分组和聚合，获得每个柜台中的全部营业额；（大于10000的数据为异常值，请去除，缺失值算0）:

异常值：

     工号  姓名        日期          时段   交易额    柜台
105  1001  张三  2019-03-14  9：00-14：00  12100.0  日用品
缺失值：

110    True
124    True
168    True
dtype: bool
     工号  姓名        日期           时段  交易额    柜台
110  1005  周七  2019-03-14  14：00-21：00     NaN  化妆品
124  1006  钱八  2019-03-16  14：00-21：00     NaN    食品
168  1005  周七  2019-03-21  14：00-21：00     NaN    食品
     工号  姓名        日期           时段  交易额    柜台
110  1005  周七  2019-03-14  14：00-21：00     0.0  化妆品
124  1006  钱八  2019-03-16  14：00-21：00     0.0    食品
168  1005  周七  2019-03-21  14：00-21：00     0.0    食品
           工号   交易额
柜台
化妆品    62160  75389.0
日用品    62232  88162.0
蔬菜水果  63231  78532.0
食品      62241  85174.0

[('化妆品',
       工号  姓名        日期           时段  交易额    柜台
  0    1001  张三  2019-03-01   9：00-14：00  1664.0  化妆品
  1    1002  李四  2019-03-01  14：00-21：00   954.0  化妆品
  8    1001  张三  2019-03-02   9：00-14：00  1530.0  化妆品
  9    1002  李四  2019-03-02  14：00-21：00  1395.0  化妆品
  16   1001  张三  2019-03-03   9：00-14：00  1361.0  化妆品
  ..    ...   ...         ...            ...     ...     ...
  226  1002  李四  2019-03-29   9：00-14：00  1624.0  化妆品
  233  1001  张三  2019-03-30  14：00-21：00   850.0  化妆品
  234  1002  李四  2019-03-30   9：00-14：00  1688.0  化妆品
  241  1005  周七  2019-03-31  14：00-21：00  1321.0  化妆品
  242  1002  李四  2019-03-31   9：00-14：00  1274.0  化妆品

  [62 rows x 6 columns]),
 ('日用品',
       工号  姓名        日期           时段  交易额    柜台
  4    1005  周七  2019-03-01   9：00-14：00   994.0  日用品
  5    1006  钱八  2019-03-01  14：00-21：00  1421.0  日用品
  12   1005  周七  2019-03-02   9：00-14：00  1444.0  日用品
  13   1006  钱八  2019-03-02  14：00-21：00  1141.0  日用品
  20   1005  周七  2019-03-03   9：00-14：00  1592.0  日用品
  ..    ...   ...         ...            ...     ...     ...
  230  1004  赵六  2019-03-29  14：00-21：00  1402.0  日用品
  237  1001  张三  2019-03-30   9：00-14：00  1086.0  日用品
  238  1004  赵六  2019-03-30  14：00-21：00  1571.0  日用品
  245  1004  赵六  2019-03-31   9：00-14：00  1668.0  日用品
  246  1004  赵六  2019-03-31  14：00-21：00  1722.0  日用品

  [62 rows x 6 columns]),
 ('蔬菜水果',
       工号  姓名        日期           时段  交易额      柜台
  6    1006  钱八  2019-03-01   9：00-14：00  1226.0  蔬菜水果
  7    1001  张三  2019-03-01  14：00-21：00  1442.0  蔬菜水果
  14   1002  李四  2019-03-02   9：00-14：00  1649.0  蔬菜水果
  15   1003  王五  2019-03-02  14：00-21：00  1179.0  蔬菜水果
  22   1004  赵六  2019-03-03   9：00-14：00  1073.0  蔬菜水果
  ..    ...   ...         ...            ...     ...       ...
  228  1002  李四  2019-03-29  14：00-21：00  1063.0  蔬菜水果
  235  1005  周七  2019-03-30   9：00-14：00  1070.0  蔬菜水果
  236  1002  李四  2019-03-30  14：00-21：00  1129.0  蔬菜水果
  243  1005  周七  2019-03-31   9：00-14：00  1044.0  蔬菜水果
  244  1002  李四  2019-03-31  14：00-21：00   859.0  蔬菜水果

  [63 rows x 6 columns]),
 ('食品',
       工号  姓名        日期           时段  交易额  柜台
  2    1003  王五  2019-03-01   9：00-14：00  1407.0  食品
  3    1004  赵六  2019-03-01  14：00-21：00  1320.0  食品
  10   1003  王五  2019-03-02   9：00-14：00   936.0  食品
  11   1004  赵六  2019-03-02  14：00-21：00   906.0  食品
  18   1003  王五  2019-03-03   9：00-14：00  1713.0  食品
  ..    ...   ...         ...            ...     ...   ...
  232  1006  钱八  2019-03-29  14：00-21：00  1639.0  食品
  239  1003  王五  2019-03-30   9：00-14：00  1032.0  食品
  240  1006  钱八  2019-03-30  14：00-21：00  1090.0  食品
  247  1003  王五  2019-03-31   9：00-14：00  1274.0  食品
  248  1006  钱八  2019-03-31  14：00-21：00   812.0  食品

  [62 rows x 6 columns])]

In [35]:
print('5.请统计显示3.09日的工作人员在不同的时间段内的营业额是多少:\n')
nnn=df[df['日期']=='2019-03-09']
group=nnn.groupby("姓名")
group

print((group.sum().head()))
list(group)

5.请统计显示3.09日的工作人员在不同的时间段内的营业额是多少:

      工号  交易额
姓名
周七  1005  1012.0
李四  1002  1382.0
王五  2006  2776.0
赵六  2008  2723.0
钱八  2012  2205.0

[('周七',
      工号  姓名        日期          时段  交易额    柜台
  68  1005  周七  2019-03-09  9：00-14：00  1012.0  日用品),
 ('李四',
      工号  姓名        日期           时段  交易额    柜台
  65  1002  李四  2019-03-09  14：00-21：00  1382.0  化妆品),
 ('王五',
      工号  姓名        日期           时段  交易额      柜台
  64  1003  王五  2019-03-09   9：00-14：00  1106.0    化妆品
  71  1003  王五  2019-03-09  14：00-21：00  1670.0  蔬菜水果),
 ('赵六',
      工号  姓名        日期           时段  交易额  柜台
  66  1004  赵六  2019-03-09   9：00-14：00  1683.0  食品
  67  1004  赵六  2019-03-09  14：00-21：00  1040.0  食品),
 ('钱八',
      工号  姓名        日期           时段  交易额      柜台
  69  1006  钱八  2019-03-09  14：00-21：00  1087.0    日用品
  70  1006  钱八  2019-03-09   9：00-14：00  1118.0  蔬菜水果)]